@font-face {
    font-family: 'Data Control';
    src: url(./fonts/data-latin.ttf) format('truetype');
}

#about {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #fff;
}

@media screen and (max-width: 500px) {
    #about {
        width: 100%;
    }
}

#about > * {
    margin: 0 1rem 1rem 1rem;
}

#about h1 {
    font-family: 'Data Control', sans-serif;
    margin-bottom: .25rem;
}
.leaflet-control-container {
    position: relative;
    top: 10rem;
}