.company-container > div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 5fr 2fr;
}

.company-container main > *,
.company-container .return {
  margin-left: 1rem;
  margin-right: 1rem;
}

.company-container h1 {
  margin-top: 0;
}

address {
  margin-bottom: 1rem;
}
.company-container .leaflet-container {
  width: 60vw;
  height: 60vw;
  display: block;
  margin-bottom: 1rem;
}

.company-container .logo {
  display: block;
}

@media (max-width: 720px) {
  .company-container > div {
    display: block;
  }

  .company-container main .logo {
    display: block;
  }

  .company-container aside .logo {
    display: none;
  }

  .company-container aside {
    margin-left: 1rem;
  }
}

@media (min-width: 720px) {
  .company-container aside .logo {
    display: block;
  }
  .company-container main .logo {
    display: none;
  }
}
