@font-face {
  font-family: "Data Control";
  src: url(./fonts/data-latin.ttf) format("truetype");
}

header {
  background-color: #fff;
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

header.floating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  box-shadow: 2px 2px 4px #333;
}

header > * {
  margin: 0 1rem 1rem 1rem;
}

header > a,
a:visited {
  color: #000;
  text-decoration: none;
  display: block;
}

header h1 {
  font-family: "Data Control", sans-serif;
  margin-bottom: 0.25rem;
}

.leaflet-control-container {
  position: relative;
  top: 10rem;
}
