.return,
.return:visited {
  background-color: rgb(33, 107, 190);
  padding: 0.5rem 0.8rem;
  border-radius: 0.6rem;
  color: #fff;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
}
